<div class="footer-panner" style="visibility: hidden;">
	<div style="padding-bottom: 0;" class="container">
		<ul>
			<li>
				<h3>益齐</h3>
				<p>
					<a>关于我们</a>
				</p>
				<p>
					<a>媒体报道</a>
				</p>
				<p>
					<a>加入我们</a>
				</p>
				<p>
					<a>益齐APP下载</a>
				</p>
			</li>
			<li>
				<h3>主办方活动</h3>
				<p>
					<a>主办方首页</a>
				</p>
				<p>
					<a>主办方必读</a>
				</p>
				<p>
					<a>验票APP下载</a>
				</p>
				<p>
					<a>主办方VIP会员</a>
				</p>
			</li>
			<li>
				<h3>推广合作</h3>
				<p>
					<a>新媒体推广</a>
				</p>
				<p>
					<a>线下活动执行</a>
				</p>
				<p>
					<a>API产品合作串接</a>
				</p>
			</li>
			<li>
				<h3>更多内容</h3>
				<p>
					<a>专题精选</a>
				</p>
				<p>
					<a>活动日历</a>
				</p>
				<p>
					<a>友情链接</a>
				</p>
				<p>
					<a>LOGO下载</a>
				</p>
			</li>
			<li>
				<h3>更多内容</h3>
				<p>
					<a>专题精选</a>
				</p>
				<p>
					<a>活动日历</a>
				</p>
				<p>
					<a>友情链接</a>
				</p>
				<p>
					<a>LOGO下载</a>
				</p>
			</li>
			<li class="wechat">
				<h3>微信扫一扫</h3>
				<div>
					<img ng-src="{{public.imgUrl}}/code.png" width="100%" />
				</div>
			</li>
		</ul>
	</div>
	<div class="address container">
		<p>地址：深圳市罗湖区清水河街道红岗路1003号红岗大厦5楼508&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;版权所有：益齐（深圳）企业咨询管理有限公司&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;粤ICP备16091888号-1&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602001861"><img ng-src="{{public.imgUrl}}/police.png" style="display: inline-block;vertical-align: middle;position: relative;top: -2px;" />粤公网安备 44010602001861号</a>
		</p>
	</div>
</div>

<div id="footer" class="footer-panner" style="visibility: visible;position: absolute;bottom: 0;left: 0;">
	<div style="padding-bottom: 0;" class="container">
		<ul>
			<li>
				<h3>益齐</h3>
				<p>
					<a>关于我们</a>
				</p>
				<p>
					<a>媒体报道</a>
				</p>
				<p>
					<a>加入我们</a>
				</p>
				<p>
					<a>益齐APP下载</a>
				</p>
			</li>
			<li>
				<h3>主办方活动</h3>
				<p>
					<a>主办方首页</a>
				</p>
				<p>
					<a>主办方必读</a>
				</p>
				<p>
					<a>验票APP下载</a>
				</p>
				<p>
					<a>主办方VIP会员</a>
				</p>
			</li>
			<li>
				<h3>推广合作</h3>
				<p>
					<a>新媒体推广</a>
				</p>
				<p>
					<a>线下活动执行</a>
				</p>
				<p>
					<a>API产品合作串接</a>
				</p>
			</li>
			<li>
				<h3>更多内容</h3>
				<p>
					<a>专题精选</a>
				</p>
				<p>
					<a>活动日历</a>
				</p>
				<p>
					<a>友情链接</a>
				</p>
				<p>
					<a>LOGO下载</a>
				</p>
			</li>
			<li>
				<h3>更多内容</h3>
				<p>
					<a>专题精选</a>
				</p>
				<p>
					<a>活动日历</a>
				</p>
				<p>
					<a>友情链接</a>
				</p>
				<p>
					<a>LOGO下载</a>
				</p>
			</li>
			<li class="wechat">
				<h3>微信扫一扫</h3>
				<div>
					<img ng-src="{{public.imgUrl}}/code.jpg" width="100%" />
				</div>
			</li>
		</ul>
	</div>
	<div class="address container">
		<p>地址：深圳市罗湖区清水河街道红岗路1003号红岗大厦5楼508&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;版权所有：益齐（深圳）企业咨询管理有限公司&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;粤ICP备16091888号-1&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602001861"><img ng-src="{{public.imgUrl}}/police.png" style="display: inline-block;vertical-align: middle;position: relative;top: -2px;" /> 粤公网安备 44010602001861号</a>
		</p>
	</div>
</div>