<!DOCTYPE html>
<html ng-app="app" ng-controller="publicController as public">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="baidu-site-verification" content="ncAwLlLfQz" />
		<!--<base href="/app/Tpl/web/" />-->
		<!--<title ng-bind="title"></title>-->
		<title>有益的事情，一齐做！</title>
		<link href="favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
		<link href="favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
		<link href="favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<!--css-->
		<link rel="stylesheet" type="text/css" href="/app/Tpl/web/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/app/Tpl/web/css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="/app/Tpl/web/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/app/Tpl/web/js/libs/wangEditor-2.1.20/dist/css/wangEditor.min.css">
		<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=f9vN5ry16uR26GXGGfgbcTELUqG1kmhX&s=1"></script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "//hm.baidu.com/hm.js?45484a32ca9765523875917ef5c304ff";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>

	</head>

	<body>
		<div id="top-page" ng-include="'/app/Tpl/web/js/components/menu/menu.tpl.html'" class="ng-hide" ng-show="showMenu"></div>
		<div id="center-page" ui-view class="clearfix"></div>
		<div id="footer-page" ng-include="'/app/Tpl/web/js/components/footer/footer.tpl.html'" class="ng-hide" ng-show="showFooter"></div>

		<!--滚动到顶部 begin-->
		<div class="back-to-top" id="back-to-top"></div>
		<!--滚动到顶部 begin-->

		<!--遮罩层 begin-->
		<div class="mask-div hideDom" id="mask_div" ng-class="{'showDom':public.mask_div,'hideDom':!public.mask_div}"></div>
		<!--遮罩层 end-->

		<!--普通的弹框 begin-->
		<div class="alert-dialog hideDom" id="auto_dialog" ng-class="{'showDom':public.auto_dialog,'hideDom':!public.auto_dialog}">
			<div class="alert-dialog-panner">
				<div class="dialog-title">
					<span>提示</span>
					<i class="iconfont" ng-click="public.autoDialogConfirm()">&#xe616;</i>
				</div>
				<div class="dialog-content">
					<div ng-bind-html="public.autoDialogTitle | toHtml"></div>
				</div>
				<div class="dialog-footer">
					<button type="button" class="button button-34 padding-left-right-20" ng-click="public.autoDialogConfirm()">确定</button>
				</div>
			</div>
		</div>
		<!--普通的弹框 end-->

		<!--有确定、删除的弹框 begin-->
		<div class="alert-dialog hideDom" id="alert_dialog" ng-class="{'showDom':public.alert_dialog,'hideDom':!public.alert_dialog}">
			<div class="alert-dialog-panner">
				<div class="dialog-title">
					<span>提示</span>
					<i class="iconfont" ng-click="public.alertDialogCancel()">&#xe616;</i>
				</div>
				<div class="dialog-content">
					<div ng-bind="public.alertDialogTitle"></div>
				</div>
				<div class="dialog-footer has-two-button">
					<button type="button" class="button button-36 padding-left-right-20" ng-click="public.alertDialogConfirm()">确定</button>
					<button type="button" class="button2 button-36 padding-left-right-20" ng-click="public.alertDialogCancel()" ng-show="public.alertDialogCancelButton">取消</button>
				</div>
			</div>
		</div>
		<!--有确定、删除的弹框 end-->

		<!--加载动画begin-->
		<div class="loading-panel ng-hide" ng-show="public.loading_panel">
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>
		<!--加载动画end-->

		<!--弹出有动画效果的一行提示文字 begin-->
		<div class="alert-tip" ng-class="{'showDom':public.alert_tip,'hideDom':!public.alert_tip}">
			<p ng-bind="public.alert_text">操作成功</p>
		</div>
		<!--弹出有动画效果的一行提示文字 end-->

		<script type="text/javascript" src="https://image.eitty.cn/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="/app/Tpl/web/js/libs/jquery/jquery.cookie.js"></script>
		<script type="text/javascript" src="https://image.eitty.cn/angular.min.js"></script>
		<script type="text/javascript" src="https://image.eitty.cn/angular-animate.min.js"></script>
		<script type="text/javascript" src="/app/Tpl/web/js/app.js"></script>
		<script type="text/javascript" src="/app/Tpl/web/js/router.js"></script>
		<script type="text/javascript" src="/app/Tpl/web/js/components/public.controller.js"></script>
		<script type="text/javascript" src="/app/Tpl/web/js/libs/laydate/laydate.js"></script>
		<script type="text/javascript" src="/app/Tpl/web/js/libs/wangEditor-2.1.20/dist/js/wangEditor.min.js"></script>
		<script type="text/javascript" src="/app/Tpl/web/js/libs/plupload/plupload.full.min.js"></script>
		<script type="text/javascript" src="/app/Tpl/web/js/libs/plupload/i18n/zh_CN.js"></script>
		<script type="text/javascript" src="https://image.eitty.cn/qiniu2.min.js"></script>

		<script>
			//滚动到顶部
			$(function() {
				//实现滚动
				$('#back-to-top').click(function() {
					$('html,body').animate({
						scrollTop: 0
					}, 500);
				});
				//判断滚动事件
				$(window).scroll(function() {
					if ($(window).scrollTop() >= 200) {
						$('#back-to-top').fadeIn();
					} else {
						$('#back-to-top').fadeOut();
					}
				});
			});
		</script>
	</body>

</html>