<div id="index">
	<div class="container content">
		<ul>
			<li>
				<div class="left-circle">
					<img src="{{public.imgUrl}}/small-huodong.png" />
					<span>活动</span>
				</div>
				<div class="right-content">
					<div class="padding-content">
						<span ui-sref="activityList">参与活动</span>
						<span ui-sref="addActivity">发布活动</span>
					</div>
				</div>
			</li>
			<li>
				<div class="left-circle">
					<img src="{{public.imgUrl}}/small-choukuan.png" />
					<span>筹款</span>
				</div>
				<div class="right-content">
					<div class="padding-content">
						<span ui-sref="crowdFundList">参与筹款</span>
						<span ui-sref="addCrowdFund">发布筹款</span>
					</div>
				</div>
			</li>
			<li>
				<div class="left-circle">
					<img src="{{public.imgUrl}}/small-pingshen.png" />
					<span ui-sref="examineHome">评审/评估</span>
				</div>
				<div class="right-content">
					<div class="padding-content">
						<span ui-sref="examineHome">评审</span>
						<span ui-sref="examineHome">评估</span>
					</div>
				</div>
			</li>
			<li>
				<div class="left-circle">
					<img src="{{public.imgUrl}}/small-ruanjiankaifa.png" />
					<span ui-sref="software">软件开发</span>
				</div>
			</li>
		</ul>
	</div>
</div>