<div id="findpassword" class="login-bgk">
	<div class="login-panner">
		<div class="top-logo-panner">
			<div class="go-to-home" ui-sref="index"><i class="iconfont icon-icon-close" title="首页">&nbsp;</i></div>
			<div class="logo">
				<img ng-src="{{public.imgUrl}}/logo.png" ui-sref="index" />
			</div>
			<p>公益就要一齐做</p>
			<div class="login-register-container through-line">
				<span>密码找回</span>
			</div>
		</div>
		<div class="content">
			<div class="register-content">
				<form name="submitForm" novalidate="novalidate" ng-submit="findpassword.submit()">
					<!--手机号码 begin-->
					<div class="input-box not-margin-bottom">
						<label>手机/邮箱：</label>
						<div class="input-container right-input-container">
							<div class="table-row-input-content">
								<div class="left-input-content">
									<input class="input-text has-right-button" name="reigsterPhone" type="text" placeholder="手机号/邮箱帐号" ng-model="findpassword.submitForm.username" required ng-pattern="/^(1[0-9]{10}|(\w)+(\.\w+)*@(\w)+((\.\w+)+))$/" />
								</div>
								<div class="right-button-content">
									<input type="button" class="button" value="获取验证码" canclick="submitForm.reigsterPhone.$valid" count-down count-down-size="60" start-text="获取验证码" click-func="public.getSmsEmailCode(findpassword.submitForm.username)">
								</div>
							</div>
							<div class="error-tip">
								<div class="alert alert-danger" ng-show="submitForm.reigsterPhone.$dirty && submitForm.reigsterPhone.$error.required">手机/邮箱不能为空</div>
								<div class="alert alert-danger" ng-show="submitForm.reigsterPhone.$dirty && submitForm.reigsterPhone.$error.pattern">手机/邮箱格式不正确</div>
							</div>
						</div>
					</div>
					<!--手机号码 end-->
					<!--验证码 begin-->
					<div class="input-box not-margin-bottom">
						<label>输入验证码：</label>
						<div class="right-input-container">
							<input class="input-text" name="verify_coder" type="text" placeholder="验证码" ng-model="findpassword.submitForm.verify_coder" required />
							<div class="error-tip">
								<div class="alert alert-danger" ng-show="submitForm.verify_coder.$dirty && submitForm.verify_coder.$invalid">验证码不可为空</div>
							</div>
						</div>
					</div>
					<!--验证码 end-->
					<!--登录密码 begin-->
					<div class="input-box not-margin-bottom">
						<label>新密码：</label>
						<div class="right-input-container">
							<input class="input-text" name="new_pwd" type="password" placeholder="设置您的密码（不少于6位）" ng-model="findpassword.submitForm.new_pwd" required ng-minlength="6" ng-maxlength="18" ng-pattern="/^([a-zA-Z0-9_!@#%&-]|[\.\*\+]){0,}$/" />
							<div class="error-tip">
								<div class="alert alert-danger" ng-show="submitForm.new_pwd.$dirty && submitForm.new_pwd.$error.minlength">密码至少为6位</div>
								<div class="alert alert-danger" ng-show="submitForm.new_pwd.$dirty && submitForm.new_pwd.$error.maxlength">密码不可超过18位</div>
								<div class="alert alert-danger" ng-show="submitForm.new_pwd.$dirty && submitForm.new_pwd.$error.pattern">密码只能为数字、字母、下划线等字符</div>
							</div>
						</div>
					</div>
					<!--登录密码 end-->
					<!--确认密码 begin-->
					<div class="input-box not-margin-bottom">
						<label>确认新密码：</label>
						<div class="right-input-container">
							<input class="input-text" name="reply_pwd" type="password" placeholder="请再次输入您的密码" ng-model="findpassword.submitForm.reply_pwd" required />
							<div class="error-tip">
								<div class="alert alert-danger" ng-show="submitForm.reply_pwd.$dirty && findpassword.submitForm.new_pwd!=findpassword.submitForm.reply_pwd">两次输入的密码不一致</div>
							</div>
						</div>
					</div>
					<!--确认密码 end-->
					<!--图片验证码 begin-->
					<div class="input-box">
						<label>图片验证码：</label>
						<div class="right-input-container">
							<input class="input-text" type="text" name="image_coder" placeholder="验证码" ng-model="findpassword.submitForm.image_coder" required/>
							<div class="img-code">
								<img ng-src="{{findpassword.imgCodeSrc}}" />
								<span ng-click="findpassword.setImgCodeSrc()">看不清？换一张</span>
							</div>
						</div>
					</div>
					<!--图片验证码 end-->
					<div class="input-box">
						<input type="submit" class="button login-finally-button" ng-disabled="submitForm.$invalid" ng-class="{'disabled':submitForm.$invalid}" value="确&nbsp;&nbsp;&nbsp;&nbsp;定" />
					</div>
				</form>
			</div>

		</div>
	</div>
</div>