<div id="sponsorList" class="container">
	<h1 class="title sponsorList-title">主办方列表</h1>
	<div class="sponsorList-panner">
		<div class="select-panner">
			<!--类型 begin-->
			<div class="select-panner-item">
				<span class="select-list-left-title">行业筛选：</span>
				<ul class="select-list">
					<li class="select-item">
						<a ng-class="{'active':sponsorList.searchForm.select_type == ''}" ng-click="sponsorList.setSelectActive($event,'select_type','')">全部</a>
					</li>
					<li class="select-item" ng-repeat="item in public.activityTypeArray">
						<a ng-class="{'active':sponsorList.searchForm.select_type == item.id}" ng-click="sponsorList.setSelectActive($event,'select_type',item.id)">{{item.name}}</a>
					</li>
				</ul>
			</div>
			<!--类型 end-->
			<!--类型 begin-->
			<div class="select-panner-item">
				<span class="select-list-left-title">关注排序：</span>
				<ul class="select-list">
					<li class="select-item">
						<a ng-class="{'active':sponsorList.searchForm.orderBy == 'fans'}" ng-click="sponsorList.setSelectActive($event,'orderBy','fans')">关注人数<i class="iconfont jiantou">&#xe648;</i></a>
					</li>
					<li class="select-item">
						<a ng-class="{'active':sponsorList.searchForm.orderBy == 'reg_time'}" ng-click="sponsorList.setSelectActive($event,'orderBy','reg_time')">最新入驻<i class="iconfont jiantou">&#xe648;</i></a>
					</li>
					<li class="select-item">
						<a ng-class="{'active':sponsorList.searchForm.orderBy == 'build_count'}" ng-click="sponsorList.setSelectActive($event,'orderBy','build_count')">最活跃<i class="iconfont jiantou">&#xe648;</i></a>
					</li>
				</ul>
			</div>
			<!--类型 end-->
		</div>
		<!--活动列表 begin-->
		<div class="sponsorList-list-panner">
			<ul class="sponsorList-ul">
				<!-- 1条评审 begin-->
				<li ng-repeat="item in sponsorList.sponsorArray track by $index">
					<div class="background-cover img" ng-style="{'background-image':'url('+ item.head_image +')'}" ui-sref="sponsorDetail({'sponsor_id':item.id})"></div>
					<div class="sponsor-message">
						<p class="text-align-center" title="{{item.identify_bs_name}}">{{item.identify_bs_name}}</p>
						<div class="text-align-center">
							粉丝数 （{{item.fans}}）
						</div>

					</div>
				</li>
				<!-- 1条评审 end-->
			</ul>
			<div class="clearfix"></div>
			<div class="">
				<page-bar page-change="sponsorList.pageParams.pageChange()" page-count="sponsorList.pageParams.page_count" current="sponsorList.pageParams.current" show-page="{{sponsorList.pageParams.showPage}}"></page-bar>
			</div>

		</div>
		<!--活动列表 end-->
	</div>
</div>