<div id="concern">
	<h1 class="title">我的关注</h1>
	<h1 class="title" ng-if="false">很遗憾，您暂时没有关注</h1>
	<!--<p class="not-data-tip">
		<span>您值得关注的活动</span>
		<a class="float-right more">更多>></a>
	</p>-->
	<!--列表  begin-->
	<ul class="collection-list">
		<li ng-repeat="item in concern.sponsorArray">
			<div class="top-img background-cover  hover-pointer" ng-style="{ 'background-image': 'url({{item.head_image}})' }"  ui-sref="sponsorDetail({'sponsor_id':item.sponsor_id})"></div>
			<div class="content">
				<h3 class="sponsor-name">{{item.identify_bs_name}}</h3>
				<div>
					<button type="button" class="button button-30" ng-click="concern.cancelFocus(item.sponsor_id)">取消关注</button>
				</div>
			</div>
		</li>
	</ul>
	<!--列表  end-->
	<div ng-show="concern.sponsorArray.length!='0'">
		<page-bar page-change="concern.pageParams.pageChange()" page-count="concern.pageParams.page_count" current="concern.pageParams.current" show-page="{{concern.pageParams.showPage}}"></page-bar>
	</div>
	<!--无数据 begin-->
	<div class="not-data ng-hide" ng-show="concern.sponsorArray.length=='0' && concern.loaded">
		<i class="iconfont">&#xe627;</i>
		<div>您还未关注过主办方</div>
		<div>
			<button class="button button-36" ui-sref="sponsorList({'keyword':''})">去关注</button>
		</div>
	</div>
	<!--无数据 end-->
</div>