<div id="personal-home">
	<h1 class="title" ng-if="userInfo.identity_conditions!='0'">我参加的活动</h1>
	<h1 class="title" ng-if="userInfo.identity_conditions=='0'">我发布的活动</h1>
	<div class="time-list-panner ng-hide" ng-show="personalHome.activityArray.length!='0'">
		<ul>
			<li class="time-item" ng-repeat="item in personalHome.activityArray">
				<div class="time" ng-hide="personalHome.activityArray[$index].year_month == personalHome.activityArray[$index-1].year_month">
					<div class="left-circle"><span></span></div>
					<p>{{item.year_month}}</p>
				</div>

				<div class="content">
					<div class="left-image background-cover hover-pointer" ng-style="{ 'background-image': 'url(' + item.image+'?imageslim)' }" ui-sref="activityDetail({'activityId':item.id})"></div>
					<!--主办方的界面 begin-->
					<div class="right-content" ng-if="userInfo.identity_conditions=='0'">
						<h3 ui-sref="activityDetail({'activityId':item.id})">
							<p title="{{item.name}}">{{item.name}}</p>
							<div class="right-money">已收入 <strong class="color-orange">￥{{item.support_amount}}</strong></div>
						</h3>
						<p class="text">开始时间：<span ng-bind="item.begin_time | toDate"></span>
							<span class="ready" ng-if="item.is_effect=='0'">审核中</span>
							<span class="overtime" ng-if="item.is_effect=='1' && personalHome.setActivityStop(item.end_time)">已结束</span>
							<span class="continue" ng-if="item.is_effect=='1' && !personalHome.setActivityStop(item.end_time)">进行中</span>
						</p>
						<div class="text">
							<span class="text-button" ui-sref="updateActivity({id:{{item.id}}})"><i class="iconfont">&#xe626;</i> 活动管理</span>
							<span class="text-button" ui-sref="peopleList({id:{{item.id}}})"><i class="iconfont">&#xe628;</i> 名单管理</span>
						</div>
					</div>
					<!--主办方的界面 end-->
					<!--普通用户的界面 begin-->
					<div class="right-content" ng-if="userInfo.identity_conditions!='0'">
						<h3 ui-sref="activityDetail({'activityId':item.id})">{{item.name}}</h3>
						<p class="text">开始时间：<span ng-bind="item.begin_time | toDate"></span>
							<span class="overtime" ng-if="personalHome.setActivityStop(item.end_time)">已结束</span>
							<span class="continue" ng-if="!personalHome.setActivityStop(item.end_time)">进行中</span>
						</p>
					</div>
					<!--普通用户的界面 begin-->
				</div>

			</li>
		</ul>
	</div>
	<div ng-show="personalHome.activityArray.length!='0'">
		<page-bar page-change="personalHome.pageParams.pageChange()" page-count="personalHome.pageParams.page_count" current="personalHome.pageParams.current" show-page="{{personalHome.pageParams.showPage}}"></page-bar>
	</div>

	<!--无数据 begin-->
	<div class="not-data ng-hide" ng-show="personalHome.activityArray.length=='0' && userInfo.identity_conditions == '0' && personalHome.loaded1">
		<i class="iconfont"></i>
		<div>您还未发布过活动</div>
		<div>
			<button class="button button-36" ui-sref="addActivity">去发布</button>
		</div>
	</div>
	<!--无数据 end-->
	<!--无数据 begin-->
	<div class="not-data ng-hide" ng-show="personalHome.activityArray.length=='0' && userInfo.identity_conditions != '0' && personalHome.loaded2">
		<i class="iconfont"></i>
		<div>您还未报名过活动</div>
		<div>
			<button class="button button-36" ui-sref="activityList">去报名</button>
		</div>
	</div>
	<!--无数据 end-->
</div>