<div id="crowdFundOrder" class="container big-page">
	<h1 class="title">
		<span class="big-title">众筹下单</span>
		<span class="small-title">（{{crowdFundOrder.orderInfo.item_name}}）</span>
	</h1>
	<div class="green-line" style="margin-bottom:40px"></div>

	<div class="order-container">
		<div class="order-status-box">
			<ul>
				<li class="active">
					<div class="circle-line">
						<span class="circle">1</span>
					</div>
					<p>订单信息填写</p>
				</li>
				<li>
					<div class="circle-line">
						<span class="circle">2</span>
					</div>
					<p>付款</p>
				</li>
			</ul>
		</div>

		<!--提交订单 begin-->
		<div class="order-submit">
			<div class="order-detail">
				<div class="goods-info">
					<div class="left-img"  ng-style="{'background-image': 'url(' + crowdFundOrder.orderInfo.item_image + '?imageslim)'}"></div>
					<span class="money">￥</span> <span class="money">{{crowdFundOrder.orderInfo.delivery_fee}}</span>
				</div>
				<p class="goods-title" ng-bind="crowdFundOrder.orderInfo.description"></p>
				<div class="input-box">
					<label><span>数量</span></label>
					<div class="input-container right-input-container">
						<button type="button" class="button" style="font-size: 18px;" ng-click="crowdFundOrder.decreaseShopNum()"> - </button>
						<input type="text" class="input-text text-align-center" style="width: 60px;" ng-model="crowdFundOrder.submitForm.shopNum" onkeyup="value=value.replace(/[^\d]/g,'')" ng-change="crowdFundOrder.setShopNum()"/>
						<button type="button" class="button"style="font-size: 18px;" ng-click="crowdFundOrder.addShopNum()"> + </button>
					</div>
				</div>
				<div class="input-box">
					<label><span>发票</span></label>
					<div class="input-container right-input-container">
						<div class="radio-box">
							<label>
								<input class="hidden-radio" type="radio" name="is_invoice" ng-model="crowdFundOrder.submitForm.is_invoice" value="0">
								<span class="circle"><span></span></span>无需发票</label>
							<label>
								<input class="hidden-radio" type="radio" name="is_invoice" ng-model="crowdFundOrder.submitForm.is_invoice" value="1">
								<span class="circle"><span></span></span>需要发票</label>
						</div>
					</div>
				</div>
				<div class="input-box" ng-show="crowdFundOrder.submitForm.is_invoice=='1'" style="margin-bottom: 20px;">
					<label>发票抬头</label>
					<div class="input-container right-input-container">
						<input class="input-text" type="text" placeholder="请填写您需要的发票抬头" ng-model="crowdFundOrder.submitForm.invoice_title" />
					</div>
				</div>
				<div class="input-box">
					<label>备注</label>
					<div class="input-container right-input-container">
						<input class="input-text" type="text" placeholder="您可以填写关于回报或您希望发起人知道的信息，鼓励一下也好~~" />
					</div>
				</div>
			</div>
			<div class="order-detail-2">
				<div class="input-box">
					<label>收货地址</label>
					<div class="input-container right-input-container">
						<div class="radio-box">
							<div ng-repeat="item in crowdFundOrder.addressArray">
								<label>
									<input class="hidden-radio" type="radio" name="address_id" ng-model="crowdFundOrder.submitForm.address_id" value="{{item.id}}">
									<span class="circle"><span></span></span>
								</label>
								<div class="address-desc">
									<span class="username">{{item.consignee}}</span>
									<span class="address-text" title="{{item.province}}省{{item.city}}市{{item.address}}">{{item.province}}省{{item.city}}市{{item.address}}</span>
									<span class="post-code">{{item.zip}}</span>
									<span class="phone">{{item.mobile}}</span>
								</div>
							</div>
						</div>
						<div>
							<button type="button" class="button2 button2-32" style="vertical-align: middle;" ng-click="crowdFundOrder.showEditDialog()">添加收货地址</button>
							<span class="color-blue float-right hover-pointer" style="margin-right: 10px;" ui-sref="personal.address">查看所有地址</span>
						</div>
					</div>
				</div>
				<div class="input-box">
					<label><span>应付款</span></label>
					<div class="input-container right-input-container">
						<span class="color-red money">￥</span><span class="color-red money">{{crowdFundOrder.orderInfo.delivery_fee * crowdFundOrder.submitForm.shopNum}}</span>
					</div>
				</div>
			</div>
			<p class="agree" onselectstart="return false;"><i class="iconfont" ng-class="{'active':crowdFundOrder.agree}" ng-click="crowdFundOrder.agree=!crowdFundOrder.agree"></i>&nbsp;我已阅读并同意益齐众筹的
				<a class="color-blue">《支持者协议》</a>
			</p>
			<div class="bottom-button">
				<button type="button" class="button padding-left-right-30" ng-class="{'disabled':!crowdFundOrder.agree}" ng-click="crowdFundOrder.creatOrderSubmit()">提交订单</button>
			</div>
		</div>
		<!--提交订单 end-->

	</div>

	<div class="mask-div hideDom" id="edit_dialog_mask" ng-class="{'showDom':crowdFundOrder.edit_dialog_mask,'hideDom':!crowdFundOrder.edit_dialog_mask}"></div>
	<!--编辑地址 begin-->
	<form name="addAddressForm" novalidate="novalidate" ng-submit="crowdFundOrder.addAddressSubmit()">
		<div class="alert-dialog hideDom" id="edit_dialog" ng-class="{'showDom':crowdFundOrder.edit_dialog,'hideDom':!crowdFundOrder.edit_dialog}">
			<div class="alert-dialog-panner">
				<div class="dialog-title">
					<span>添加地址</span>
					<i class="iconfont" ng-click="crowdFundOrder.editDialogCancel()">&#xe616;</i>
				</div>
				<div class="dialog-content">

					<div class="input-box not-margin-bottom">
						<label><span class="color-red">* </span><span>省市：</span></label>
						<div class="input-container right-input-container">
							<div class="select-box">
								<select class="province" ng-model="crowdFundOrder.addAddressForm.address.province" ng-options="item.name as item.name for item in crowdFundOrder.provinceArray" ng-change="crowdFundOrder.getCityList(crowdFundOrder.addAddressForm.address.province,'cityArray')">
									<option value="">请选择</option>
								</select>
								<span>省</span>
								<select class="city" ng-model="crowdFundOrder.addAddressForm.address.city" ng-options="item.name as item.name for item in crowdFundOrder.cityArray">
									<option value="">请选择</option>
								</select>
								<span>市</span>
								<div class="error-tip">
									<div class="alert alert-danger ng-hide">&nbsp;</div>
								</div>
							</div>
						</div>
					</div>
					<div class="input-box not-margin-bottom">
						<label><span class="color-red">* </span><span>详细地址：</span></label>
						<div class="input-container right-input-container">
							<input type="text" class="input-text" name="location" ng-model="crowdFundOrder.addAddressForm.address.location" required/>
							<div class="error-tip">
								<div class="alert alert-danger ng-hide" ng-show="addAddressForm.location.$dirty && addAddressForm.location.$invalid">地址不可为空</div>
							</div>
						</div>
					</div>
					<div class="input-box not-margin-bottom">
						<label><span>邮政编码：</span></label>
						<div class="input-container right-input-container">
							<input type="text" class="input-text" placeholder="000000" name="zip" ng-model="crowdFundOrder.addAddressForm.zip" />
							<div class="error-tip">
								<div class="alert alert-danger ng-hide">&nbsp;</div>
							</div>
						</div>
					</div>
					<div class="input-box not-margin-bottom">
						<label><span class="color-red">* </span><span>收货人姓名：</span></label>
						<div class="input-container right-input-container">
							<input type="text" class="input-text" name="consignee" ng-model="crowdFundOrder.addAddressForm.consignee" required/>
							<div class="error-tip">
								<div class="alert alert-danger ng-hide" ng-show="addAddressForm.consignee.$dirty && addAddressForm.consignee.$invalid">姓名不可为空</div>
							</div>
						</div>
					</div>
					<div class="input-box not-margin-bottom">
						<label><span class="color-red">* </span><span>联系电话：</span></label>
						<div class="input-container right-input-container">
							<input type="tel" class="input-text" name="mobile" ng-model="crowdFundOrder.addAddressForm.mobile" required/>
							<div class="error-tip">
								<div class="alert alert-danger" ng-show="addAddressForm.mobile.$dirty && addAddressForm.mobile.$invalid">联系电话不可为空</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dialog-footer has-two-button">
					<button type="submit" class="button button-32 padding-left-right-20" ng-disabled="addAddressForm.$invalid">确定</button>
					<button type="button" class="button2 button-32 padding-left-right-20" ng-click="crowdFundOrder.editDialogCancel()">取消</button>
				</div>
			</div>
		</div>
	</form>
	<!--编辑地址 end-->
</div>