<div id="crowdFund" class="container">
	
	<div class="focus-box">
		<div class="focus-img focus-img-1">
			<div class="transition-scale" style="background-image: url(./img/example-slide-1.jpg);"></div>
		</div>
		<div class="focus-img focus-img-2">
			<div class="transition-scale" style="background-image: url(./img/example-slide-2.jpg);"></div>
		</div>
		<div class="focus-img focus-img-3">
			<div class="transition-scale" style="background-image: url(./img/example-slide-3.jpg);"></div>
		</div>
		<div class="focus-img focus-img-4">
			<div class="transition-scale" style="background-image: url(./img/example-slide-4.jpg);"></div>
		</div>
		<div class="focus-img focus-img-5">
			<div class="transition-scale" style="background-image: url(./img/example-slide-1.jpg);"></div>
		</div>
	</div>
	
	
	<!--教育·助学 begin-->
	<h3 class="crowdFund-title">
		<span>教育·助学</span>
		<a class="float-right more">查看更多</a>
	</h3>
	<div class="crowdFundList-list-panner">
		<ul class="crowdFundList-ul">
			<!-- 1个公益众筹 begin-->
			<li ng-repeat="item in crowdFund.crowdfundingArray track by $index" background-lazy-load  ui-sref="crowdFundDetail">
				<div class="top-img">
					<div class="transition-scale background-lazy-load" lazy-load-src="{{public.imgUrl}}/{{item}}"></div>
				</div>
				<div class="content">
					<h4 class="crowdfunding-title">【在每一个】并肩作战的日子里我们全力以赴悉心陪伴！</h4>
					<p class="crowdfunding-message">希望能通过众筹让大家了解到我们的项目我们的团队。让更多的人关注健康食材为家人和自己的健康努力。</p>
					<p class="crowdfunding-label">
						<i class="iconfont icon-biaoqian">&nbsp;</i>
						<span>广东</span>
						<span>揭阳</span>
						<span>公益创业</span>
						<span>古村落</span>
						<span>桑椹酒</span>
					</p>
					<div class="crowdfunding-progress">
						<div class="progressbar">
							<p style="width: 30%;"></p>
						</div>
						<div class="progress-desc already-fund">
							<span>￥</span><span>1745</span>
							<h5>已筹款</h5>
						</div>
						<div class="progress-desc support">
							<span>998</span>
							<h5>支持数</h5>
						</div>
						<div class="progress-desc schedule">
							<span>65</span><span>%</span>
							<h5>筹款进度</h5>
						</div>
					</div>
				</div>
			</li>
			<!-- 1个公益众筹 end-->
		</ul>
		<div class="clearfix"></div>
	</div>
	<!--教育·助学 end-->

	<!--爱心·环保 begin-->
	<h3 class="crowdFund-title">
		<span>爱心·环保</span>
		<a class="float-right more">查看更多</a>
	</h3>
	<div class="crowdFundList-list-panner">
		<ul class="crowdFundList-ul">
			<!-- 1个公益众筹 begin-->
			<li ng-repeat="item in crowdFund.crowdfundingArray track by $index" background-lazy-load  ui-sref="crowdFundDetail">
				<div class="top-img">
					<div class="transition-scale background-lazy-load" lazy-load-src="{{public.imgUrl}}/{{item}}"></div>
				</div>
				<div class="content">
					<h4 class="crowdfunding-title">【在每一个】并肩作战的日子里我们全力以赴悉心陪伴！</h4>
					<p class="crowdfunding-message">希望能通过众筹让大家了解到我们的项目我们的团队。让更多的人关注健康食材为家人和自己的健康努力。</p>
					<p class="crowdfunding-label">
						<i class="iconfont icon-biaoqian">&nbsp;</i>
						<span>广东</span>
						<span>揭阳</span>
						<span>公益创业</span>
						<span>古村落</span>
						<span>桑椹酒</span>
					</p>
					<div class="crowdfunding-progress">
						<div class="progressbar">
							<p style="width: 30%;"></p>
						</div>
						<div class="progress-desc already-fund">
							<span>￥</span><span>1745</span>
							<h5>已筹款</h5>
						</div>
						<div class="progress-desc support">
							<span>998</span>
							<h5>支持数</h5>
						</div>
						<div class="progress-desc schedule">
							<span>65</span><span>%</span>
							<h5>筹款进度</h5>
						</div>
					</div>
				</div>
			</li>
			<!-- 1个公益众筹 end-->
		</ul>
		<div class="clearfix"></div>
	</div>
	<!--爱心·环保 end-->

	<!--青年·创业 begin-->
	<h3 class="crowdFund-title">
		<span>青年·创业</span>
		<a class="float-right more">查看更多</a>
	</h3>
	<div class="crowdFundList-list-panner">
		<ul class="crowdFundList-ul">
			<!-- 1个公益众筹 begin-->
			<li ng-repeat="item in crowdFund.crowdfundingArray track by $index" background-lazy-load  ui-sref="crowdFundDetail">
				<div class="top-img">
					<div class="transition-scale background-lazy-load" lazy-load-src="{{public.imgUrl}}/{{item}}"></div>
				</div>
				<div class="content">
					<h4 class="crowdfunding-title">【在每一个】并肩作战的日子里我们全力以赴悉心陪伴！</h4>
					<p class="crowdfunding-message">希望能通过众筹让大家了解到我们的项目我们的团队。让更多的人关注健康食材为家人和自己的健康努力。</p>
					<p class="crowdfunding-label">
						<i class="iconfont icon-biaoqian">&nbsp;</i>
						<span>广东</span>
						<span>揭阳</span>
						<span>公益创业</span>
						<span>古村落</span>
						<span>桑椹酒</span>
					</p>
					<div class="crowdfunding-progress">
						<div class="progressbar">
							<p style="width: 30%;"></p>
						</div>
						<div class="progress-desc already-fund">
							<span>￥</span><span>1745</span>
							<h5>已筹款</h5>
						</div>
						<div class="progress-desc support">
							<span>998</span>
							<h5>支持数</h5>
						</div>
						<div class="progress-desc schedule">
							<span>65</span><span>%</span>
							<h5>筹款进度</h5>
						</div>
					</div>
				</div>
			</li>
			<!-- 1个公益众筹 end-->
		</ul>
		<div class="clearfix"></div>
	</div>
	<!--青年·创业 end-->
	
	<div class="text-align-center">
		<div class="button2 padding-left-right-30" ui-sref="crowdFundList">浏览全部</div>
	</div>
</div>