<div id="question" class="container add-active-panel big-page">
	<h1 class="title">江门市社会工作机构情况调查表</h1>
	<!--<div class="green-line" style="margin-bottom:20px"></div>-->
	<!--TODO 说明-->
	<div class="shuoming alert alert-warning">
		<p>社会工作服务机构：</p>
		<p class="text-indent">您好！</p>
		<p class="text-indent">欢迎参加“江门市社会工作行业发展情况调查”！此次调查旨在对全市社会工作服务机构情况进行基础调研，从而为政府购买社会工作服务提供参考依据和建议。本问卷旨在了解贵机构2015年7月1日-2016年9月30日的运营情况，请贵机构认真、如实填写。答案无分对错，仅作学术研究之用。所有资料将保密，所有调研员均签署保密协议，请如实作答。但若因贵机构的原因而导致问卷资料泄密，本调研组将不承担相关责任。如有疑问，请联系调研员：宋帅帅，0750-3512378／13714611445。</p>
		<p class="text-indent">本问卷设计和解释权归江门市社会工作行业发展情况调研组所有，请勿转载。</p>
		<p class="text-right">江门市社会工作行业发展情况调研组</p>
		<p class="text-right">2016年10月</p>
		<p>&nbsp;</p>
		<div class="orange-line" style="margin-bottom:20px"></div>
		<p>说明：本调研问卷分为机构和项目两部分信息，其中A,C,D,E,F类题目以机构为统计对象，B类题目以项目为统计对象。机构特指在各级民政部门登记注册的社会工作服务机构；项目是指机构承接的各种社会工作服务项目，如“xx社区居家养老服务”等。</p>
	</div>
	<!--<div class="green-line" style="margin-bottom:30px;"></div>-->
	<!--TODO 标题导航按钮-->
	<div class="top-menu">
		<ul>
			<li class="active"><i class="iconfont">&#xe636;</i>A 基础资料</li>
			<li><i class="iconfont">&#xe636;</i>B 服务情况</li>
			<li><i class="iconfont">&#xe636;</i>C 资金运作情况</li>
			<li><i class="iconfont">&#xe636;</i>D 研究、表彰、倡导、危机介入情况</li>
			<li><i class="iconfont">&#xe636;</i>E 行业交流情况</li>
			<li><i class="iconfont">&#xe636;</i>F 存在困难</li>
		</ul>
		<div class="alert alert-warning ng-hide">以机构为统计对象</div>
		<div class="alert alert-warning ng-hide">以项目为统计对象</div>
		<div class="alert alert-warning ng-hide">以机构为统计对象</div>
		<div class="alert alert-warning ng-hide">以机构为统计对象，如有请填，反之跳过此部分</div>
		<div class="alert alert-warning">以机构为统计对象，如有请填，反之跳过此部分</div>
		<div class="alert alert-warning ng-hide">共12项，以机构为统计对象，请填写机构近一年在运营中遇到的困难或认为全市社工行业有待改进的地方</div>
	</div>

	<div class="main-panner" id="question-main-panner1">
		<!--TODO 表一-->
		<div class="question-table-panner">
			<h2 class="has-left-line-title">
				<span>基础资料：表一</span>
				<button type="button" class="button2 button2-28">添加</button>
				<button type="button" class="button2 button2-28">删除</button>
			</h2>
			<div class="content">
				<div class="input-box">
					<label class="wenti-item-title">1.机构全称</label>
					<div class="input-container right-input-container width-50">
						<input class="input-text" type="text" />
					</div>
				</div>
				<div class="input-box">
					<label class="wenti-item-title">2.机构成立时间</label>
					<div class="input-container right-input-container width-50">
						<input class="input-text" type="text" />
					</div>
				</div>
				<div class="input-box" id="a-biao-1-3">
					<label class="wenti-item-title">3.机构参与江门市社会组织等级评估</label>
					<div class="input-container right-input-container">
						<div class="radio-box">
							<label>
								<input class="hidden-radio" type="radio" name="a-biao-1-3-radio" checked="checked" />
								<span class="circle"><span>
								</span></span>尚未参与评估
							</label>
							<br>
							<label>
								<input class="hidden-radio" type="radio" name="a-biao-1-3-radio" />
								<span class="circle"><span>
								</span></span>已参加评估，但尚未有等级
							</label>
							<br>
							<label>
								<input class="hidden-radio" type="radio" name="a-biao-1-3-radio" />
								<span class="circle"><span>
								</span></span>已参加评估，并获得 <input type="text" class="input-text" /> A等级
							</label>
							<br>
							<label>
								<input class="hidden-radio" type="radio" name="a-biao-1-3-radio" />
								<span class="circle"><span>
								</span></span>计划3个月内参加评估
							</label>
							<br>
							<label>
								<input class="hidden-radio" type="radio" name="a-biao-1-3-radio" />
								<span class="circle"><span>
								</span></span>计划半年内参加评估
							</label>
							<br>
							<label>
								<input class="hidden-radio" type="radio" name="a-biao-1-3-radio" />
								<span class="circle"><span>
								</span></span>计划1年内参加评估
							</label>
							<br>
						</div>
					</div>
				</div>
				<div id="a-biao-1-4">
					<label class="wenti-item-title">4.机构地址（请如实填写机构地址的分布情况）</label>
					<div class="question-table-panner-2">
						<div class="input-box">
							<label class="wenti-item-title">4.1 机构注册地址</label>
							<div class="input-container right-input-container width-50">
								<input class="input-text" type="text" />
							</div>
						</div>
						<div class="input-box">
							<div class="select-box">
								<span class="wenti-item-title">4.2 机构有</span>
								<select class="count">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
								</select>
								<span>个服务点，例如分站点、分办公地点、分驻点、家庭综合服务中心等。请机构按照实际情况自行补充分部名称、地址、业务范围。</span>
							</div>
						</div>
						<div class="">
							<ul class="table-list">
								<li class="table-item">
									<p class="xu-hao">序号<span>1</span></p>
									<div class="content-panner">
										<div class="input-box">
											<label>服务点名称</label>
											<div class="input-container right-input-container width-50">
												<input class="input-text" type="text" />
											</div>
										</div>
										<div class="input-box">
											<label>服务点地址</label>
											<div class="input-container right-input-container width-50">
												<input class="input-text" type="text" />
											</div>
										</div>
										<div class="input-box">
											<label>主要开展业务</label>
											<div class="input-container right-input-container width-50">
												<input class="input-text" type="text" />
											</div>
										</div>
									</div>
								</li>
								<li class="table-item">
									<p class="xu-hao">序号<span>2</span></p>
									<div class="content-panner">
										<div class="input-box">
											<label>服务点名称</label>
											<div class="input-container right-input-container width-50">
												<input class="input-text" type="text" />
											</div>
										</div>
										<div class="input-box">
											<label>服务点地址</label>
											<div class="input-container right-input-container width-50">
												<input class="input-text" type="text" />
											</div>
										</div>
										<div class="input-box">
											<label>主要开展业务</label>
											<div class="input-container right-input-container width-50">
												<input class="input-text" type="text" />
											</div>
										</div>
									</div>
								</li>
								<li class="table-item">
									<p class="xu-hao">序号<span>3</span></p>
									<div class="content-panner">
										<div class="input-box">
											<label>服务点名称</label>
											<div class="input-container right-input-container width-50">
												<input class="input-text" type="text" />
											</div>
										</div>
										<div class="input-box">
											<label>服务点地址</label>
											<div class="input-container right-input-container width-50">
												<input class="input-text" type="text" />
											</div>
										</div>
										<div class="input-box">
											<label>主要开展业务</label>
											<div class="input-container right-input-container width-50">
												<input class="input-text" type="text" />
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="a-biao-1-5">
					<label class="wenti-item-title">5.机构发起人情况（请按照实际情况自行补充发起人情况）</label>
					<div class="">
						<ul class="table-list">
							<li class="table-item">
								<p class="xu-hao">序号<span>1</span>
									<button type="button" class="button2 button2-28">添加</button>
									<button type="button" class="button2 button2-28">删除</button>
								</p>
								<div class="content-panner">
									<div class="input-box">
										<label>服务点名称</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>服务点地址</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>主要开展业务</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
								</div>
							</li>
							<li class="table-item">
								<p class="xu-hao">序号<span>2</span></p>
								<div class="content-panner">
									<div class="input-box">
										<label>服务点名称</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>服务点地址</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>主要开展业务</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
								</div>
							</li>
							<li class="table-item">
								<p class="xu-hao">序号<span>3</span></p>
								<div class="content-panner">
									<div class="input-box">
										<label>服务点名称</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>服务点地址</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>主要开展业务</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div id="a-biao-1-6">
					<label class="wenti-item-title">6.机构理事层情况（请按照实际情况自行补充理事层情况）</label>
					<div class="">
						<ul class="table-list">
							<li class="table-item">
								<p class="xu-hao">序号<span>1</span>
									<button type="button" class="button2 button2-28">添加</button>
									<button type="button" class="button2 button2-28">删除</button>
								</p>
								<div class="content-panner">
									<div class="input-box">
										<label>姓名</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>职务</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>所持专业资格证书</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>学历</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>所读专业</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div id="a-biao-1-7">
					<label class="wenti-item-title">7.机构监事会情况（如有请填，请按照实际情况自行补充监事会情况）</label>
					<div class="">
						<ul class="table-list">
							<li class="table-item">
								<p class="xu-hao">序号<span>1</span>
									<button type="button" class="button2 button2-28">添加</button>
									<button type="button" class="button2 button2-28">删除</button>
								</p>
								<div class="content-panner">
									<div class="input-box">
										<label>姓名</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>职务</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>现专职工作</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>所持专业资格证书</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>学历</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>所读专业</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div id="a-biao-1-8">
					<label class="wenti-item-title">8.机构法人情况（如果曾变动，请填写所有法人的情况）</label>
					<div class="">
						<ul class="table-list">
							<li class="table-item">
								<p class="xu-hao">序号<span>1</span>
									<button type="button" class="button2 button2-28">添加</button>
									<button type="button" class="button2 button2-28">删除</button>
								</p>
								<div class="content-panner">
									<div class="input-box">
										<label>姓名</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>性别</label>
										<div class="input-container right-input-container">
											<div class="radio-box">
												<label>
													<input class="hidden-radio" type="radio" name="a-biao-1-8-sex" checked="checked" />
													<span class="circle"><span>
													</span></span>男
												</label>
												<label>
													<input class="hidden-radio" type="radio" name="a-biao-1-8-sex" />
													<span class="circle"><span>
													</span></span>女
												</label>
											</div>
										</div>
									</div>
									<div class="input-box">
										<label>出生年月</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>工作单位</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>职务</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>所持专业资格证书</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>学历</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>所读专业</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text" type="text" />
										</div>
									</div>
									<div class="input-box">
										<label>担任法人的时间段</label>
										<div class="input-container right-input-container width-50">
											<input class="input-text width-40" type="text" />
											<span class="width-10" style="text-align: center;display: inline-block;font-size: 14px;">至</span>
											<input class="input-text width-40" type="text" />
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--表二-->
		<div class="">
			<h2 class="has-left-line-title">
				<span>基础资料：表二</span>
			</h2>
		</div>
	</div>

	<div class="green-line" style="margin-bottom:10px"></div>
	<div id="qiestion1" class="button-box text-align-center">
		<button type="button" class="button padding-left-right-30">下一步</button>
	</div>
	<div id="qiestion2" class="button-box text-align-center">
		<button type="button" class="button padding-left-right-30">上一步</button>
		<button type="button" class="button padding-left-right-30">下一步</button>
	</div>
	<div id="qiestion3" class="button-box text-align-center">
		<button type="button" class="button padding-left-right-30">上一步</button>
		<button type="button" class="button padding-left-right-30">下一步</button>
	</div>
	<div id="qiestion4" class="button-box text-align-center">
		<button type="button" class="button padding-left-right-30">上一步</button>
		<button type="button" class="button padding-left-right-30">下一步</button>
	</div>
	<div id="qiestion5" class="button-box text-align-center">
		<button type="button" class="button padding-left-right-30">上一步</button>
		<button type="button" class="button padding-left-right-30">下一步</button>
	</div>
	<div id="qiestion6" class="button-box text-align-center">
		<button type="button" class="button padding-left-right-30">上一步</button>
		<button type="button" class="button padding-left-right-30 disabled">提交</button>
	</div>
</div>