<div id="companyList" class="container big-page">
	<h1 class="title">机构名录</h1>
	<div class="green-line" style="margin-bottom:30px"></div>
	<ul class="company-list">
		<li class="company-item">
			<div class="img"></div>
			<p>拯救世界评估服务专家机构</p>
		</li>
		<li class="company-item">
			<div class="img"></div>
			<p>拯救世界评估服务专家机构</p>
		</li>
		<li class="company-item">
			<div class="img" ng-style="{'background-image':'url()'}"></div>
			<p>拯救世界评估服务专家机构</p>
		</li>
	</ul>
	<div class="detail-panel">
		<div class="left">
			<p>机构名称：爱心服务专业机构</p>
			<p>联系人：爱心</p>
			<p>联系电话：18512095219</p>
			<p>电子邮箱：18563540219@qq.com</p>
		</div>
		<div class="right">
			<p>地址：广东省广州市天河区中山大道中35号美好居3栋1105</p>
			<div class="image-box">
				<span>登记证书：</span>
				<img ng-src="{{public.imgUrl}}/example-slide-2.jpg"/>
			</div>
			<p>登记证书编号：2235456100056222</p>
		</div>
	</div>
</div>