<div id="orderReview" class="container add-active-panel big-page">
	<h1 class="title">预约评审</h1>
	<div class="green-line" style="margin-bottom:30px"></div>
	<h2 class="has-left-line-title">
		<span>填写基本信息</span>
	</h2>
	<form name="submitForm" novalidate="novalidate">
		<div class="form-panel">
			<!---->
			<div class="input-box not-margin-bottom">
				<label>项目名称</label>
				<div class="input-container right-input-container">
					<input class="input-text" type="text" required/>
					<div class="error-tip">
						<div class="alert alert-danger ng-hide">项目名称不可为空</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="input-box not-margin-bottom">
				<label>地点</label>
				<div class="input-container right-input-container">
					<input class="input-text" type="text" required/>
					<div class="error-tip">
						<div class="alert alert-danger ng-hide">地点不可为空</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="input-box not-margin-bottom">
				<label>联系人</label>
				<div class="input-container right-input-container">
					<input class="input-text" type="text" required/>
					<div class="error-tip">
						<div class="alert alert-danger ng-hide">联系人不可为空</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="input-box not-margin-bottom">
				<label>联系电话</label>
				<div class="input-container right-input-container">
					<input class="input-text" type="text" required/>
					<div class="error-tip">
						<div class="alert alert-danger ng-hide">联系电话不可为空</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="input-box not-margin-bottom">
				<label>电子邮箱</label>
				<div class="input-container right-input-container">
					<input class="input-text" type="email" required/>
					<div class="error-tip">
						<div class="alert alert-danger ng-hide">电子邮箱格式错误</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="input-box not-margin-bottom">
				<label>内容及流程</label>
				<div class="input-container right-input-container">
					<textarea class="input-text" name="brief" ng-model="makeAppointment.submitForm.brief" required></textarea>
					<div class="error-tip">
						<div class="alert alert-danger" ng-show="submitForm.brief.$dirty && submitForm.brief.$invalid">筹款目的不可为空</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="input-box not-margin-bottom">
				<label>评审/评估预算</label>
				<div class="input-container right-input-container">
					<div class="table-row-input-content">
						<div class="left-input-content">
							<input class="input-text" type="number" required/>
						</div>
						<div class="right-button-content">
							<input type="button" class="button not-hover" value="&nbsp;元&nbsp;">
						</div>
					</div>
					<div class="error-tip">
						<div class="alert alert-danger ng-hide">不可为空</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="input-box not-margin-bottom">
				<label>生成报告截止时间</label>
				<div class="input-container right-input-container">
					<input class="input-text" type="text" id="stop_day" required readonly="readonly" ng-focus="makeAppointment.setStopDay()" />
					<div class="error-tip">
						<div class="alert alert-danger">不可为空</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-align-center">
			<button type="submit" class="button padding-left-right-30">确定</button>
		</div>
	</form>
</div>